In [2]:
import pandas as pd
from sklearn import tree

In [3]:
df = pd.read_csv('Decision.csv')

In [4]:
df

   Height  Weight  ShoeSize  Gender
0     166      55        10  Female
1     170      53         8  Female
2     180      60        14    Male
3     155      75         9  Female
4     178      65        14    Male
5     166      54        13    Male
6     178      68        12    Male
7     173      78        12    Male
8     171      77        14    Male

In [5]:
x = df.iloc[:,:-1]

In [6]:
x

   Height  Weight  ShoeSize
0     166      55        10
1     170      53         8
2     180      60        14
3     155      75         9
4     178      65        14
5     166      54        13
6     178      68        12
7     173      78        12
8     171      77        14

In [7]:
y = df.iloc[:,3]

In [8]:
y

0    Female
1    Female
2      Male
3    Female
4      Male
5      Male
6      Male
7      Male
8      Male
Name: Gender, dtype: object

In [9]:
classify_ = tree.DecisionTreeClassifier()

In [10]:
classify_ = classify_.fit(x, y)

In [11]:
prediction_ = classify_.predict([[179, 63, 10]])

C:\Users\User\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [12]:
prediction_

array(['Female'], dtype=object)