In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df = pd.read_csv('demo2.csv')

In [6]:
df

    age  status
0    21       1
1    33       1
2    24       0
3    23       1
4    34       0
5    12       1
6    35       0
7    65       1
8    67       0
9    32       1
10   38       0

In [6]:
df.isnull().sum()

age       0
status    0
dtype: int64

In [7]:
handle = df['status'].median()

In [8]:
handle

1.0

In [9]:
df['status'].value_counts()

1    6
0    5
Name: status, dtype: int64

In [10]:
x = df [['age']]

In [11]:
x

    age
0    21
1    33
2    24
3    23
4    34
5    12
6    35
7    65
8    67
9    32
10   38

In [12]:
y = df['status']

In [13]:
y

0     1
1     1
2     0
3     1
4     0
5     1
6     0
7     1
8     0
9     1
10    0
Name: status, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.30, random_state=1)

In [16]:
xtest

   age
2   24
3   23
4   34
9   32

In [17]:
ytest

2    0
3    1
4    0
9    1
Name: status, dtype: int64

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
model = LogisticRegression()

In [20]:
model.fit(xtrain, ytrain)

LogisticRegression()

In [24]:
model.predict(xtest)

array([1, 1, 1, 1], dtype=int64)

In [25]:
model.score(xtest, ytest)

0.5

In [26]:
model.predict_proba(xtest)

array([[0.28601672, 0.71398328],
       [0.27780078, 0.72219922],
       [0.37544345, 0.62455655],
       [0.35660983, 0.64339017]])