<a href="https://colab.research.google.com/github/mostofa247/Machine-Learning-Project/blob/main/Md_Mostofa_Kamal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Email Address: mdmostofakamal5596@gmail.com**

###Question 1 Solution

In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px



url = "https://github.com/phitronio/Python-for-ML/raw/main/final-employee-ds.csv"
df = pd.read_csv(url)
TrainHours = df["TrainingHours"].to_numpy().astype(float)
TrainMean = np.mean(TrainHours)
Standard_deviation = np.std(TrainHours)
print(TrainMean)
print(Standard_deviation)

24.19
13.842467265628624

###Question 2 Solution

In [53]:
df.isnull().sum()

EmployeeID          0
Name                0
Age                 0
Gender              0
Department          0
ExperienceYears     0
Salary              4
WorkHoursPerWeek    0
PerformanceScore    0
JoinDate            0
Tshirt_size         0
ProjectCount        0
TrainingHours       0
DepartmentRating    0
dtype: int64

In [54]:
dep_Salary_median = df.groupby("Department")["Salary"].transform("median")
dep_Salary_median
df["Salary"]=df["Salary"].fillna(dep_Salary_median)
df.isnull().sum()

EmployeeID          0
Name                0
Age                 0
Gender              0
Department          0
ExperienceYears     0
Salary              0
WorkHoursPerWeek    0
PerformanceScore    0
JoinDate            0
Tshirt_size         0
ProjectCount        0
TrainingHours       0
DepartmentRating    0
dtype: int64

In [55]:
filter_data = df[(df['ExperienceYears'] > 12) & (df['ProjectCount'] > 5)]
print(filter_data["Salary"].sum())

1985775.5

###Question 3 Solution

In [56]:
searching_data = df[((df["Department"]=="IT") | (df["Department"] == "Finance")) & df["Age"].between(30,45) & (df["PerformanceScore"] > 88)]
searching_data = searching_data.sort_values(by="Salary", ascending=False)
result = searching_data[["Name", "Department", "Salary", "PerformanceScore"]]
print(result)

           Name Department    Salary  PerformanceScore
94  Employee_95         IT  140386.0                94
88  Employee_89    Finance  126027.0                92
4    Employee_5    Finance   85543.0                97
32  Employee_33         IT   83919.0                98
55  Employee_56    Finance   49540.0                94

###Question 4 Solution

In [57]:
df["SalaryPerHour"] = df["Salary"] / (df["WorkHoursPerWeek"] * 4)
topSalary5 = df.sort_values("SalaryPerHour", ascending=False).head(5)
answer = topSalary5[["Name", "SalaryPerHour"]]
print(answer)

           Name  SalaryPerHour
46  Employee_47     981.278571
27  Employee_28     971.292857
31  Employee_32     967.392857
79  Employee_80     945.335526
80  Employee_81     937.858974

###Question 5 Solution

In [60]:
fig = px.histogram(df, x="Department", color="Gender", barmode="group", title="Employee Count by Department and Gender")

fig.show()